<h1>Log In</h1>
<%= simple_form_for :session, url: sessions_path do |f| %>
  <%= f.input :username, input_html: { autofocus: 'autofocus' } %>
  <%= f.input :password %>
  <%= f.submit "Log In", class: "btn" %>
<% end %>
