- if @contributions.length > 0
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Edit
        %th Contributor
        %th Date
        %th Type
        %th Reference
        %th Amount
    %tbody
      = render @contributions
  = will_paginate @contributions
