:plain
  $("#contributions-inline-form").html("#{ escape_javascript(render("inline_form")) }");
  $("#contributions").html("#{ escape_javascript(render("contributions")) }");
  $("#total-contributions").html("#{ escape_javascript(number_to_currency(@batch.total_contributions)) }");
  Giving.initDateFields();
  $("#contributor-name").focus();
