= f.input :contributor_id, required: true do
  %input#contributor-name.form-control{type: "text", autofocus: "autofocus",
    name: "contributor_name",
    value: (@contribution.contributor ? @contribution.contributor.name : "")}
= render partial: "shared/contributors_javascript"
