<h1>Current Batch</h1>
<div id="contributions-inline-form">
  <%= render 'inline_form' %>
</div>
<div id="contributions">
  <%= render 'contributions' %>
</div>
<p class="total-contributions">
  Total: <span id="total-amount-pending"><%= number_to_currency(PendingContribution.total_amount_pending) %></span>
</p>
<%= link_to 'Post Contributions', post_pending_contributions_path, method: :post, class: 'btn' %>
