<div class="page-header">
  <h1>Contributions</h1>
</div>
<div id="contributions-inline-form">
  <%= render 'inline_form' %>
</div>
<div id="contributions">
  <%= render 'contributions' %>
</div>
<%= link_to 'Add Contribution', new_contribution_path, :class => 'btn' %>
